run = ["bash", "start.sh"]

# The default file opened in the editor.
entrypoint = "README.md"

hidden=[".config", ".gitpod.yml", ".gitignore","package.json","yarn.lock","LICENSE"]

[nix]
channel = "stable-22_05"